__pycache__/
.pytest_cache/
.venv/
*.pyc
*.log
*.xlsx

.env
backend/.env
backend/data/banners/

.idea/
.vscode/

*.json
!/.planning/*.json
!/backend/data/brands.json
!/backend/data/nlp_vocabulary.json
!/frontend/*.json
!/frontend/**/*.json
.DS_Store
node_modules
.mcp.json
.env
.env.*
!.env.example
